<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8" />
        <title>게시글</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
      <div class="container-fluid ">
        <div>
          <a class="navbar-brand" href="#">HIG</a>
          <a class="btn btn-primary" href="/logout" th:if="${username}!=anonymousUser">로그아웃</a>
          <a class="btn btn-primary" href="/higlogin" th:if="${username}==anonymousUser">로그인</a>
          <a class="btn btn-primary" href="/stream/share">라이브</a>
        </div>
      </div>
    </nav>
    <div class="toast show text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" th:if="${error}">
      <div class="d-flex">
        <div class="toast-body" role="alert" th:text="${error}">
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button> 
      </div>
    </div>
    <div class="container">
        <div class="row">
          <h1 th:text="${article.title}">제목</h1><br>
          <h6 th:text="${article.author}">작성자</h6> <h6 th:text="${article.wdate}">날짜</h6> <h6 th:text="${article.views}">조회수</h6>
          <div class="col">
            <form th:if="${username == article.author}" th:action="@{/post}" method="post">
              <input type="hidden" name="_method" value="delete"/>
              <input type="hidden" name="id" th:value="${article.id}"/>
              <button type="submit" class="btn btn-primary">삭제</button>
            </form>
            <!--<a th:if="${username == article.author}" th:href="@{/post/delete(id=${article.id})}" class="btn btn-primary">삭제</a>-->
            <a th:if="${username == article.author}" th:href="@{/post/update(id=${article.id})}" class="btn btn-primary">수정</a>
          </div>
          <hr class="border border-danger border-2 opacity-50">
        </div>
  
        <div class="row">
          <span style="white-space: pre-line" th:text="${article.body}">내용</span>
        </div>
    </div>
    </body>
</html>