<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Hello</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid ">
      <div>
        <a class="navbar-brand" href="#">HIG</a>
        <a class="btn btn-primary" href="/logout" th:if="${username}">로그아웃</a>
        <a class="btn btn-primary" href="/higlogin" th:unless="${username}">로그인</a>
        <a class="btn btn-primary" href="/stream/share">라이브</a>
        <a class="btn btn-primary" href="/streams?pageNum=0">라이브목록</a>
      </div>
    </div>

  <!--
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
  -->
  </nav>

  <div class="d-flex flex-column">
      <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${articles}" >
                    <td><a th:text="${article.id}" >View page</a></td>
                    <td><a th:text="${article.title}" th:href="@{post(id=${article.id})}" >제목</a></td>
                    <td th:text="${article.author}">작성자</td>
                    <td th:text="${article.wdate}">날짜</td>
                    <td th:text="${article.views}">조회수</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
          <div class="col justify-self-start">
            <form method="GET" action="/home">
                <input type="serach" name="query">
                <input type="hidden" name="pageNum" value="0">
                <input type="submit" value="검색">
            </form>
          </div>
          <div class="col" align="center">
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" th:if="${hasPrevious}">Previous</a></li>
                <li class="page-item" th:each="num : ${#numbers.sequence(start,end)}" >
                  <a class="page-link" th:text="${num}" th:href="@{home(pageNum=${num})}">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#" th:if="${hasNext}">Next</a></li>
              </ul>
            </nav>
          </div>

          <div class="col justify-self-end" align="right">
            <a href="/post/add" class="btn btn-outline-primary" >글쓰기</a>
          </div>
        </div>
      </div>

      
      
      
  </div>
  
  





</body>
</html>