<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
  <head>
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <div class="container">
      <div class="row">
        <div class="col justify-content-center">
          <video id="video" style="
          width: 98%;
          " autoplay muted></video>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="radio" id="scrn" name="captureMethod" value="scrn" checked> 화면공유
          <input type="radio" id="dvc" name="captureMethod" value="dvc"> 장치공유
          <input type="radio" id="rtmp" name="captureMethod" value="rtmp"> rtmp 
          
          <!--<button class="btn-primary" onClick="startCapture()">화면공유</button>
          <button class="btn-primary" onClick="startDeviceCapture()">캠 캡쳐</button>-->
          <button class="btn-primary" onClick="capture()">캡쳐</button>
          <div class="row" id="options">
            <select name="video" id="vid">
              <option>----비디오 장치 선택----</option>
            </select>
            <select name="audio" id="aud">
              <option>----오디오 장치 선택----</option>
            </select>
          </div>
        </div>
        <div class="col" >
          <div class="row" id="recordRow">
            <button class="btn-primary" id="start">녹화시작하기</button>
          </div>
          
        </div>
        <div class="col">
          
          <input type="hidden" id="sName" name="sName" placeholder="스트림 이름" th:value="${username}">
          <button class="btn-primary" id="sStart">스트림 연결</button>
          <div class="row" id="streamRow">
            <label id="streamStatus"></label>
          </div>
        </div>
      </div>



    </div>
    <script>
      document.getElementById('options').style.visibility='hidden';
      document.getElementById('scrn').onclick = function() {
        document.getElementById('options').style.visibility='hidden';
      }
      document.getElementById('dvc').onclick = function() {
        document.getElementById('options').style.visibility='visible';
      }
    </script>

    <script src="/js/getusrMedia.js"></script>
  
  </body>
</html>
